body{
   background-color: #1C242D;
}

.headerPrincipal{
   position: absolute;
   background: #242F39;
}

.headerPrincipal-tittle{
   color: white;
   font-size: 19px;
   background: #6D210C;
   text-align: center;
}
