/**** PAGE CONTACT ****/ 

.pagebox-contact{
	height: auto;
}

.pagebox-contact img{
	z-index: 1;
	top: -60px;
	position: absolute;
}

.pagebox-contact i{font-size: 70px;margin-top: 70px;}

#map{
  height: 250px;
  margin: 30px;
  border: 1px solid #ccc;
}