/**** PAGE HOME ****/

.pagebox-home{
	height: auto;
	background-repeat: repeat-y;
	background-position: -0px -80px;
	background-image: url(../../img/site-img1.png);
	background-attachment: fixed;
  	background-size: cover;
} 

.home-steps div{
	margin-top: 100px;
	margin-bottom: 90px;
}

/**** FIXER ****/

.fixerseta{
	border-bottom: 40px solid #23232d;
	border-right: 40px solid transparent;
}

.fixerseta1{
	border-bottom: 40px solid #23232d;
	border-left: 40px solid transparent;
}