/**** CLASS NAVBAR ****/

.router-menu{
	z-index: 10;
	height: 50px;
	background-color: #4E9BD4;	
} 

.router-tittle h1{margin-top: 5px;cursor: pointer;}

.router-btn-simple{
	margin-top: 5px;
	list-style: none;
} .router-btn-simple:hover h3{
	color:#242333; /** Ver isso **/
	cursor: pointer;
	transition: 0.4s;
} .router-btn-simple h3{margin-top: 5px;}	


/**** FOOTER ****/

.pagebox-footer i{font-size: 25px;margin: 5px 0px;}

.footer-media{visibility: hidden;display: none;}