/****** DEFAULT ******/

body{
	text-align: center;
	color: white !important; 
	font-family: 'Roboto', sans-serif; 
	background-color: #669999 !important; 
}

h2{text-decoration: underline;margin-bottom: 20px !important;}
h3{margin-top: 10px !important;}
h5{font-weight: bold !important;margin: 0px !important;}

.nopadding{padding-right: 0px !important;padding-left: 0px !important;}
.pdg-top15{padding-top: 15px !important;}

.azul-claro{background: #336699;}
.azul-medio{background: #003366}
.azul-escuro{background: #000033;}

.verde-claro{background: #02a9a2;}


/**************************************************************************************************************/
/**** NAVBAR ****/

.router-menu{
	z-index: 10;
	height: 50px;
} 

.router-tittle h1{margin-top: 5px;cursor: pointer;}

.router-btn-simple{
	margin-top: 5px;
	list-style: none;
} 

.pagebox-footer i:hover,
.router-btn-simple:hover h4{
	color:#02a9a2;
	cursor: pointer;
	transition: 0.4s;
} 	

.router-btn-mobile{visibility: hidden;display: none;}
.router-btn-mobile i{font-size: 30px}

.dropdown-toggle{margin-top: 10px;}
.dropdown-menu{margin-left: 30px; border: 0px;}

.dropdown-toggle, 
.dropdown-menu button{background: transparent;border: 0px;}

.dropdown-toggle img,
.dropdown-menu img{height: 20px;}

/**************************************************************************************************************/
/**** SECTION HOME ****/

.pagebox-home{
	height: auto;
	background-image: url(../img/bg-tech.svg);
	background-attachment: fixed;
} 

.home-steps div{
	margin-top: 100px;
	margin-bottom: 90px;
}

/**** SECTION MISSION ****/

.pagebox-mission{
	height: auto;
} 

.pagebox-mission h4{
	margin-top: 40px;
	margin-bottom:0px;
} .pagebox-mission h3{
	margin-top: 0px !important;
}

.pagebox-mission h1{
	color: #02A9A2;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mission-btn{
	font-size: 25px;
	background-color: transparent;
	border: 1px solid #02A9A2;
	margin: 30px 0px;
} .mission-btn:hover {
	background-color: #02A9A2;
	color: white;
}

/**** SECTION CLIENTS ****/

.pagebox-client{
	height: 5px;
} 

/**************************************************************************************************************/
/**** SECTION SERVICE ****/

.pagebox-services{
	height: auto;
	background-image: url(../img/constellation.svg);
	background-attachment: fixed;
} 

.services-steps div{
	margin-top: 50px;
	margin-bottom: 20px;
}

.service-btn{
	font-size: 25px;
	background-color: transparent;
	border: 1px solid white;
	margin-bottom: 50px;
} .service-btn:hover {
	background-color: white;
	color:#363436;
}

/**** SECTION PLANS ****/ 

.pagebox-plans{
	z-index: 2;
	height: auto; 
	padding-bottom: 50px;
}

.plans-box{margin-top: 30px;}
.plans-price h1{
	color:#003366;
	font-size:50px; 
}
.plans-price h1,
.plans-price h4{
	font-weight: bold;
	margin-top: 15px 0px; 
	display: inline-block; 
}

.plans-detail{
	margin-top: 10px;
	font-weight: bold;
	border-bottom: 1px solid #003366;
} .last-item{ border-bottom: none; margin-bottom: 10px; }

.plans-detail i{margin-top: 5px;}
.plans-detail p{text-align: left;}  

/**************************************************************************************************************/
/**** SECTION ABOUT US ****/

.pagebox-about{
	height: 400px;
	background-image: url(../img/constellation.svg);
	background-attachment: fixed;
} 

.about_block{
	text-align: right;
}

/**** SECTION CONTACT ****/ 

.pagebox-contact{
	height: auto;
	background-image: url(../img/dark_mosaico.png);
	background-attachment: fixed;
}

.pagebox-contact i{
	font-size: 70px;
	margin-top: 70px;
}

#map{
  height: 250px;
  margin: 30px;
}

/**** FOOTER ****/

.pagebox-footer i{
	font-size: 25px;
	margin: 10px 0px; 
	color: #003366;
}

/**************************************************************************************************************/
/**** MEDIA QUERY'S MOBILE CONFIGURATION ****/

@media only screen and (max-width: 768px) {
	/****** DEFAULT ******/

	.hidden-tablet{visibility: hidden;display: none;}	
	.nopadding-tablet{padding-right: 0; padding-left: 0;}

	/**** CLASS HOME ****/

	.home-steps div{margin: 40px 0px;}	

	/**** CLASS CONTACT ****/
	.dropdown-menu{margin-left: 5px;}
	.pagebox-contact i{margin-top: 30px;}
}	 

@media only screen and (max-width: 450px) {
	/****** DEFAULT ******/
	
	.hidden-mobile{visibility: hidden;display: none;}
	.pagebox-footer i{margin: 0px 0px 15px 0px; }

	.router-btn-mobile{visibility: visible;display: initial;}
	.router-btn-mobile .dropdown-menu{margin-left: 0px;}

	.router-btn-simple button{margin-bottom: 5px}
	.router-btn-simple .dropdown-menu{margin-left: -35px;background: #000033}

}	

/**************************************************************************************************************/
/**** FIXER ****/

.fixer-baixo,
.fixer-baixo1,
.fixer-cima,
.fixer-cima1{z-index: 10}

.fixer-baixo{
	border-bottom: 40px solid #003366;
	border-right: 40px solid transparent;
}

.fixer-baixo1{
	border-bottom: 40px solid #003366;
	border-left: 40px solid transparent;
}

.fixer-cima{
	border-top: 40px solid #003366;
	border-right: 40px solid transparent;
}

.fixer-cima1{
	border-top: 40px solid #003366;
	border-left: 40px solid transparent;
}

/* TRANSIÇÃO DE PÁGINAS */

.transition.ng-enter {
  transition: 0.5s linear all;
  opacity:0;
}
.transition.ng-enter.ng-enter-active {
  opacity:1;
}
