/****** DEFAULT ******/

body{
	text-align: center;
	color: white !important; 
	font-family: 'Roboto', sans-serif; 
	background-color: #1e1e28 !important; 
}

h2{text-decoration: underline;margin-bottom: 20px !important;}
h3{margin-top: 10px !important;}
h5{font-weight: bold !important;margin: 0px !important;}

.nopadding{padding-right: 0px !important;padding-left: 0px !important;}
.pdg-top15{padding-top: 15px !important;}

.azul-claro{background: #336699;}
.azul-medio{background: #2d445c}
.azul-escuro{background: #23232d;}

.verde-claro{background: #02a9a2;}
.verde-escuro{background: #003333;}

/* TRANSIÇÃO DE PÁGINAS */

.transition.ng-enter {
  transition: 0.5s linear all;
  opacity:0;
}
.transition.ng-enter.ng-enter-active {
  opacity:1;
}

/**** CLASS NAVBAR ****/

.router-menu{
	z-index: 10;
	height: 50px;
} 

.router-tittle h1{margin-top: 5px;cursor: pointer;}

.router-btn-simple{
	margin-top: 5px;
	list-style: none;
} 
.btn-contact:hover,
.plans-faq:hover i,
.router-btn-simple:hover h4{
	color:#242333; /** Ver isso **/
	cursor: pointer;
	transition: 0.4s;
} 	

.btn-contact{
	margin-top: 7px;
	font-size: 25px;
	visibility: hidden;
}


/**** FOOTER ****/

.pagebox-footer i{font-size: 25px;margin: 5px 0px; }

/**** PAGE HOME ****/

.pagebox-home{
	height: auto;
	background-repeat: no-repeat;
	background-position: -0px -80px;
	background-image: url(../img/home/site-img1.png);
	background-attachment: fixed;
  	background-size: cover;
} 

.home-steps div{
	margin-top: 100px;
	margin-bottom: 90px;
}

/**** FIXER ****/

.fixer-baixo,
.fixer-baixo1,
.fixer-cima,
.fixer-cima1{z-index: 10}

.fixer-baixo{
	border-bottom: 40px solid #336699;
	border-right: 40px solid transparent;
}

.fixer-baixo1{
	border-bottom: 40px solid #336699;
	border-left: 40px solid transparent;
}

.fixer-cima{
	border-top: 40px solid #336699;
	border-right: 40px solid transparent;
}

.fixer-cima1{
	border-top: 40px solid #336699;
	border-left: 40px solid transparent;
}

/**** PAGE PLANS ****/ 

.pagebox-plans{
	z-index: 2;
	height: auto; 
	padding-bottom: 50px;
}

.plans-box{margin-top: 30px;}
.plans-price h1{
	color:#4E9BD4;
	font-size:50px; 
}
.plans-price h1,
.plans-price h4{
	font-weight: bold;
	margin-top: 15px 0px; 
	display: inline-block; 
}

.plans-detail{
	margin-top: 10px;
	font-weight: bold;
	border-bottom: 1px solid #336699;
} .last-item{ border-bottom: none; margin-bottom: 10px; }

.plans-detail i{margin-top: 5px;}
.plans-detail p{text-align: left;}  

/**** ABOUT US ****/

.pagebox-about{
	height: 60px;
	background-repeat: no-repeat;
	background-position: -0px -80px;
	background-image: url(../img/site-img2.jpg);
	background-attachment: fixed;
  	background-size: cover;
} 

/**** PAGE FAQ ****/ 
.pagebox-faq{
	z-index: 2;
	height: auto;
	padding-bottom: 50px;
}

.faq-contract{text-align: left;margin-top: 20px}
.faq-contract li p,
.faq-contract li a,
.faq-contract li img{ margin-left: 10px; }

.faq-contract img{
	width: 250px;
	height: 150px;
	padding-bottom: 15px;
}

/**** PAGE CONTACT ****/ 

.pagebox-contact{
	height: auto;
	background-image: url(../img/site-img2.jpg);
	background-attachment: fixed;
  	background-size: cover;
  	background-repeat: repeat-x;

}

.pagebox-contact i{font-size: 70px;margin-top: 70px;}

#map{
  height: 250px;
  margin: 30px;
}

/**** MEDIA QUERY'S MOBILE CONFIGURATION ****/

@media only screen and (max-width: 768px) {
	/****** DEFAULT ******/

	.hidden-tablet{visibility: hidden;display: none;}	
	.nopadding-tablet{padding-right: 0; padding-left: 0;}

	/**** CLASS HOME ****/

	.home-steps div{margin: 40px 0px;}	

	/**** CLASS CONTACT ****/

	.pagebox-contact i{margin-top: 30px;}
}	 

@media only screen and (max-width: 450px) {
	/****** DEFAULT ******/
	
	.hidden-mobile{visibility: hidden;display: none;}
	.pagebox-footer i{margin: 0px 0px 15px 0px; }
	.btn-contact{visibility: visible;}

}	